<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sujanshrestha.unkcoeapp">

    <!--Gives permission to the app to access the Internet-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homePage"
            android:label="@string/homepage"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".add"
            android:label="@string/add"
            android:parentActivityName=".homePage"></activity>
        <activity android:name=".edit"
            android:label="@string/edit"
            android:parentActivityName=".homePage"></activity>
        <activity android:name=".view"
            android:label="@string/view"
            android:parentActivityName=".homePage"></activity>
        <activity android:name=".info"
            android:label="@string/info"
            android:parentActivityName=".homePage"></activity>
    </application>

</manifest>